{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Đặt chỗ | Flight</title>
    <script type="text/javascript" src="{% static 'js/bookings.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bookings_style.css' %}">
{% endblock head %}

{% block body %}
    <section class="section1">
        <div class="container">
            {% if bookings %}
                <div class="bookings-container">
                    {% for t in bookings %}
                        <div class="booking-div" id="{{t.ref_no}}">
                            <div class="booking-title">
                                <div>Mã đặt chỗ: {{t.ref_no}}</div>
                                <div class="booking-date-div">
                                    {% if t.status == 'PENDING' %}
                                        <a href="{% url 'resumebooking' %}?ref={{t.ref_no}}" class="btn btn-outline-primary rbtn">Tiếp tục đặt vé</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="booking-body">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="label">Hành trình</div>
                                        <div>{{t.flight.origin.city}} &#8594; {{t.flight.destination.city}}</div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="label">Ngày khởi hành</div>
                                        <div>{{t.flight.depart_time}}</div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="label">Hạng ghế</div>
                                        <div>{{t.seat_class}}</div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="label">Trạng thái</div>
                                        <div class="status-div">
                                            {% if t.status == 'CONFIRMED' %}
                                                <div class="green">ĐÃ XÁC NHẬN</div>
                                            {% elif t.status == 'PENDING' %}
                                                <div class="yellow">ĐANG CHỜ</div>
                                            {% else %}
                                                <div class="red">ĐÃ HỦY</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-footer">
                                <div>
                                    {% if t.status == 'CONFIRMED' %}
                                        <button class="btn btn-outline-info pbtn" onclick="window.location.href='{% url 'getticket' %}?ref={{t.ref_no}}'">In vé</button>
                                        <button class="btn btn-outline-danger" onclick="popup(this)" data-ref="{{t.ref_no}}">Hủy vé</button>
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="label">Tổng tiền</div>
                                    <div>₫{{t.total_fare}}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-bookings">
                    <img src="{% static 'img/no-booking.png' %}" alt="">
                    <div>Không có đặt chỗ nào</div>
                </div>
            {% endif %}
        </div>
    </section>
    <div class="popup">
        <div class="small-popup">
            <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Bạn có chắc chắn muốn hủy vé này?</strong></div>
            <div class="popup-actions">
                <button class="btn btn-light" onclick="remove_popup()">Quay lại</button>
                <button class="btn btn-danger" id="cancel_ticket_btn" data-ref="" onclick="cancel_tkt()">Hủy vé</button>
            </div>
        </div>
    </div>
{% endblock %}