{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Đặt vé | Flight</title>
    <link rel="stylesheet" href="{% static 'css/book_style.css' %}">
    <script type="text/javascript" src="{% static 'js/book.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <form action="{% url 'payment' %}" method="POST" onsubmit="return book_submit()">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">
                    <div>
                        <h3 style="text-align: center;">Chi tiết chuyến bay</h3>
                        <hr>
                        <div class="flight-info-div">
                            {% for flight in flights %}
                                <div class="flight-info">
                                    <div class="flight-path">
                                        <div>{{flight.origin.city}} ({{flight.origin.code}})</div>
                                        <div><i class="fas fa-plane"></i></div>
                                        <div>{{flight.destination.city}} ({{flight.destination.code}})</div>
                                    </div>
                                    <hr>
                                    <div class="flight-other-info">
                                        <div>
                                            <div>Chuyến bay</div>
                                            <div>{{flight.airline}} {{flight.plane}}</div>
                                        </div>
                                        <div>
                                            <div>Khởi hành</div>
                                            <div>{{flight.depart_time}}</div>
                                        </div>
                                        <div>
                                            <div>Thời gian bay</div>
                                            <div class="duration" data-value="{{flight.duration}}"></div>
                                        </div>
                                        <div>
                                            <div>Đến nơi</div>
                                            <div>{{flight.arrival_time}}</div>
                                        </div>
                                        <div>
                                            <div>Hạng ghế</div>
                                            <div>{{seat}}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <h3 style="text-align: center;">Thông tin hành khách</h3>
                        <hr>
                        <div class="passenger-detail-div">
                            <div id="passenger-form">
                                <div class="passenger-form">
                                    <div class="name">
                                        <div class="fname">
                                            <label for="fname">Tên</label>
                                            <input type="text" name="fname" class="form-control" required>
                                        </div>
                                        <div class="lname">
                                            <label for="lname">Họ</label>
                                            <input type="text" name="lname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="gender">
                                        <label for="gender">Giới tính</label>
                                        <select name="gender" class="form-control">
                                            <option value="male">Nam</option>
                                            <option value="female">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="add-passenger">
                                <button type="button" class="btn btn-secondary btn-sm" onclick="addPassenger()">+ Thêm hành khách</button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="removePassenger()">- Xóa hành khách</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 style="text-align: center;">Thông tin liên hệ</h3>
                        <hr>
                        <div class="contact-detail-div">
                            <div class="email">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            <div class="mobile">
                                <label for="mobile">Số điện thoại</label>
                                <div class="mobile-number">
                                    <select name="countrycode" class="form-control">
                                        <option value="+84">+84</option>
                                    </select>
                                    <input type="text" name="mobile" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <h3 style="text-align: center;">Chi tiết giá vé</h3>
                        <hr>
                        <div class="fare-div">
                            <div class="fare">
                                <div>Giá vé cơ bản</div>
                                <div class="base-fare-value">₫<span>{{fare}}</span></div>
                            </div>
                            <div class="fare">
                                <div>Số lượng hành khách</div>
                                <div class="passenger-count"><span>1</span></div>
                            </div>
                            <div class="fare">
                                <div>Phí dịch vụ</div>
                                <div class="fee-fare-value">₫<span>{{fee}}</span></div>
                            </div>
                            <hr>
                            <div class="total-fare fare">
                                <div>Tổng tiền</div>
                                <div class="total-fare-value">₫<span>{{total}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="flight1" value="{{flight1}}">
            {% if flight2 %}
                <input type="hidden" name="flight2" value="{{flight2}}">
            {% endif %}
            <input type="hidden" name="seat" value="{{seat}}">
            <input type="hidden" name="fare" value="{{fare}}">
            <input type="hidden" name="fee" value="{{fee}}">
            <input type="hidden" id="p-count" name="passengers" value="1">
            <div class="payment-btn">
                <button type="submit" class="btn btn-danger">Tiến hành thanh toán</button>
            </div>
        </form>
    </section>
{% endblock %}