{% extends 'flight/layout.html' %} {% load static %} {% block head %}
<title>Pregnant passengers | FlSight</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/baggage-allowance.css' %}" />
{% endblock head %} {% block body %}
<div class="container2">
    <h1>
        Hỗ trợ người khuyết tật
    </h1>
    <h2>
        Dịch vụ dành cho hành khách sử dụng xe lăn (WCH) 
    </h2>
    <ul>
        <li>
            <P>
                Hành khách cần hỗ trợ xe lăn trên sân đỗ là hành khách có khả năng tự di chuyển lên, xuống tàu bay và trong khoang hành khách của tàu bay. Mã code dịch vụ: WCHR 
            </P>
        </li>
        <li>
            <P>
                Hành khách cần hỗ trợ xe lăn lên xuống tàu bay là hành khách có khả năng tự di chuyển trong khoang hành khách của tàu bay. Mã code dịch vụ: WCHS  
            </P>
        </li>
        <li>
            <P>
                Hành khách cần hỗ trợ xe lăn trên tàu bay là hành khách cần sự hỗ trợ di chuyển dưới mặt đất (trong nhà ga, trên sân đỗ), di chuyển lên xuống tàu bay và di chuyển trong khoang hành khách của tàu bay. Hành khách không có khả năng tự di chuyển ở mọi vị trí. Mã code dịch vụ: WCHC 
            </P>
        </li>
    </ul>
    <p>Q Airways sẽ bố trí nhân viên và kết hợp sử dụng các trang thiết bị chuyên dụng như xe lăn, xe nâng, các thiết bị đặc biệt khác để phục vụ hành khách đi lại trong nhà ga, lên/xuống máy bay và trong khoang hành khách máy bay. </p>
    <p>
        Để đặt dịch vụ sử dụng xe lăn, hành khách vui lòng đặt dịch vụ trước 24 tiếng trước giờ khởi hành dự kiến. Q Airways chấp nhận nhận vận chuyển tổng lượng hành khách sử dụng dịch vụ xe lăn (WCHR/WCHS) là 08 khách/chuyến bay 
    </p>
    <table>
        <thead>
            <tr>
                <th>Đối tượng</th>
                <th>Số lượng</th>
                <th>Dịch vụ tiếp viên đi kèm</th>
                <th>Kênh xác nhận</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hành khách cần hỗ trợ xe lăn trên sân đỗ</td>
                <td>Không giới hạn nhưng không nhiều hơn tổng số hành khách có khả năng hỗ trợ thoát hiểm trên chuyến bay.</td>
                <td>Không bắt buộc</td>
                <td></td>
            </tr>
            <tr>
                <td>Hành khách cần hỗ trợ xe lăn lên xuống tàu bay</td>
                <td>
                    <ul>
                        <li>Không nhiều hơn tổng số cửa thoát hiểm sàn của từng loại tàu bay (có người đi kèm).</li>
                        <li>Không nhiều hơn 1/2 tổng số cửa thoát hiểm sàn của từng loại tàu bay (không có người đi kèm).</li>
                    </ul>
                </td>
                <td>Không bắt buộc</td>
                <td>
                    <ul>
                        <li>24 tiếng trước STD.</li>
                        <li>Dịch vụ xe lăn chỉ được chấp nhận đặt qua phòng vé (bao gồm phòng vé chính hãng và các đại lý) và tổng đài.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Hành khách cần hỗ trợ xe lăn trên tàu bay (có người đi kèm)</td>
                <td>02 khách</td>
                <td>Không bắt buộc</td>
                <td></td>
            </tr>
            <tr>
                <td>Hành khách cần hỗ trợ xe lăn trên tàu bay (không có người đi kèm)</td>
                <td>2 khách</td>
                <td>Bắt buộc</td>
                <td>Q Airways chưa cung cấp dịch vụ.</td>
            </tr>
        </tbody>
    </table>
    <P>

    </P>
    <p>
        Khi lên xuống tàu bay, với điều kiện không có trang thiết bị chuyên dụng, nhân viên Q Airways sẽ phối hợp với người đi cùng của Hành khách (nếu có) để dìu, đỡ hành khách lên, xuống máy bay. Các sân bay được cung cấp dịch vụ xe thang: 
    </p>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>HAN</th>
                <th>SGN</th>
                <th>DAD</th>
                <th>PQC</th>
                <th>CXR</th>
                <th>VCA</th>
                <th>VCL</th>
                <th>VII</th>
                <th>TBB</th>
                <th>DLI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Khả năng cung ứng xe thang</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
                <td>có</td>
            </tr>
        </tbody>
    </table>
    <p>

    </p>
    <p>* Các sân bay còn lại không có khả năng cung ứng xe thang.</p>
    <p>     
    Để đảm bảo an toàn bay và sức khỏe của Hành khách khi thực hiện chuyến bay, những khách hàng thuộc diện phải xác nhận Sức khỏe cần đăng ký trước dịch vụ tại Tổng đài 
    <a href="#">+84 1900 1111&nbsp;</a>
    </p>
    <p>
        hoặc các Phòng vé của Q Airways trên toàn quốc. Hành khách phải xác nhận sức khỏe trước chuyến bay là hành khách có ít nhất một trong các dấu hiệu về tình trạng sức khỏe sau đây: 
    </p>
    <ul>
        <li>
            <p>
                Những hành khách bị giảm hoặc mất khả năng tự phục vụ do tình trạng thần kinh 
            </p>
        </li>
        <li>
            <p>
                Những hành khách bị thương tật, ốm đau hoặc tình trạng sức khỏe có thể gây ra những ảnh hưởng nghiêm trọng tới các hành khách khác trên chuyến bay 
            </p>
        </li>
        <li>
            <p>
                Phụ nữ có thai bao gồm: Khách mang song thai trở lên; Khách có thai bằng phương pháp thụ tinh nhân tạo; Tình trạng sức khỏe của khách có diễn biến xấu hoặc thai nhi được bác sĩ đánh giá là phát triển không bình thường. 
            </p>
        </li>
        <li>
            <p>
                Khách bị bệnh lây nhiễm như: thủy đậu, cúm gà, bệnh lao phổi, bệnh sởi, quai bị… 
            </p>
        </li>
        <li>
            <p>
                Trẻ sơ sinh có sức khỏe không bình thường, bị sinh non 
            </p>
        </li>
        <li>
            <p>
                Hành khách mà tình trạng sức khỏe có thể xấu đi do việc vận chuyển bằng đường hàng không như: khách bị bệnh phổi, các bệnh về tai hoặc xoang, xương gãy mới bó bột, mới được phẫu thuật, mới thực hiện thụ tinh nhân tạo, dị ứng trong tình trạng nghiêm trọng... 
            </p>
        </li>
    </ul>
    <strong>Hành khách  thuộc diện trên hoàn thành giấy xác nhận sức khỏe được xác nhận từ các cơ sở y tế sau: </strong>
    <p>
        Tại Việt Nam: Các bệnh viện đa khoa hoặc chuyên khoa cấp trung ương, tỉnh, thành phố, huyện, quận hoặc tương đương; các bệnh viện tư nhân và quốc tế; phòng khám đa khoa Quốc tế. 
    </p>
    <p>
        Tại các nước khác: Các cơ sở y tế có tư cách pháp nhân. 
    </p>
</div>
{% endblock body %}