{% extends 'flight/layout.html' %} {% load static %} {% block head %}
<title>Pregnant passengers | FlSight</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/baggage-allowance.css' %}" />
{% endblock head %} {% block body %}
<div class="container2">
    <h1>Quy định xuất nhập cảnh</h1>
    <p>
        Q Airways chỉ vận chuyển đơn chặng, trừ trường hợp hành khách có hành trình nối chuyến từ một chuyến bay quốc tế sang chuyến bay quốc tế khác cùng hãng vận chuyển là Q Airways. Nếu hành khách có nối chuyến với bất kỳ chuyến bay nào được khai thác bởi hãng vận chuyển khác, sau khi rời máy bay, hành khách phải làm thủ tục nhập cảnh, lấy hành lý ký gửi (nếu có), làm thủ tục Hải quan và di chuyển tới khu vực làm thủ tục cho chuyến bay kế tiếp.
    </p>
    <p>
        Hành khách phải có hộ chiếu và thị thực (nếu được yêu cầu) hợp lệ để được phép nhập cảnh vào từng điểm đến trong hành trình, bao gồm cả điểm quá cảnh (nếu có). Hành khách có trách nhiệm tuân thủ tất cả các yêu cầu về giấy tờ du lịch để vào điểm đến dự định cũng như quốc gia quá cảnh trong hành trình của hành khách. Hành khách có thể kiểm tra các yêu cầu về giấy tờ nhập cảnh tại đây. Hành khách vui lòng liên hệ với đại sứ quán hoặc lãnh sự quán tại địa phương để xác minh các yêu cầu nhập cảnh và về thị thực của mình.
    </p>
    
</div>
{% endblock body %}