{% extends "flight/layout2.html" %}

{% load static %}

{% block title %}
    Đăng nhập | Flight
{% endblock %}

{% block body %}
    <div class="user-box">
        <div>
            <center>
                <img src="{% static 'img/icon_logo.png' %}" height="35em" style="margin-bottom: 2vh;">
                <h3>Đăng nhập vào Flight</h3><br>
            </center>
        </div>

        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control inp usrnm" type="text" name="username" placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <input class="form-control inp pswd" type="password" name="password" placeholder="Mật khẩu">
            </div>
            <center>
                <input class="btn btn-danger" type="submit" value="Đăng nhập" style="width: 100%;" disabled>
            </center>
        </form>
    
        <div>
            <center>
                Chưa có tài khoản?&nbsp;&nbsp;<a href="{% url 'register' %}">Đăng ký</a>
            </center>
        </div>
    </div>
{% endblock %}




