{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Đang xử lý thanh toán | Flight</title>
    <link rel="stylesheet" href="{% static 'css/payment_process_style.css' %}">
    <script type="text/javascript" src="{% static 'js/payment_process.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="gif-div">
            <img src="{% static 'img/processing.gif' %}" alt="">
        </div>
        <div class="header">
            Đang xử lý thanh toán của bạn
        </div>
        <div class="below-header">
            Vui lòng không tải lại trang
        </div>
        <input type="hidden" value="{{ref1}}" class="ref1">
        {% if ref2 %}
            <input type="hidden" value="{{ref2}}" class="ref2">
        {% endif %}
    </section>
    <section class="section section2">
        <div class="gif-div">
            <img src="{% static 'img/done.gif' %}" alt="">
        </div>
        <div class="header">
            Thanh toán thành công!
        </div>
        <div class="below-header">
            Vé của bạn đã được xác nhận
        </div>
        <div class="details-div">
            <div>Mã đặt chỗ: <span class="ref-no">{{ref1}}</span></div>
            <div>Tổng tiền: ₫<span class="fare"></span></div>
        </div>
        <div class="ticket-div">
            <button class="btn btn-outline-danger" type="button" onclick="window.location.href = '/flight/ticket/print'">Xem vé điện tử</button>
        </div>
    </section>
    <section class="section section3">
        <div class="gif-div">
            <img src="{% static 'img/error.gif' %}" alt="">
        </div>
        <div class="header-after star">
            Đã xảy ra lỗi trong quá trình thanh toán
        </div>
        <div class="below-header">
            Vui lòng thử lại sau
        </div>
        <div class="ticket-div">
            <button class="btn btn-outline-primary" type="button" onclick="window.location.href = '/'">Về trang chủ</button>
        </div>
    </section>
{% endblock %}