{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Thanh toán | Flight</title>
    <link rel="stylesheet" href="{% static 'css/payment_style.css' %}">
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="container">
            <div class="payment-box">
                <div class="payment-box-head-div">
                    <div class="payment-box-head">
                        <div>Tổng tiền thanh toán</div>
                        <div>₫{{ticket1.total_fare}}</div>
                    </div>
                </div>
                <div class="payment-details-input-box">
                    <form action="{% url 'payment' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="card-number">Số thẻ</label>
                            <input type="text" name="cardno" class="form-control" placeholder="1234 5678 9012 3456" required>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="card-holder">Tên chủ thẻ</label>
                                    <input type="text" name="cardname" class="form-control" placeholder="NGUYEN VAN A" required>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="expiry">Ngày hết hạn</label>
                                    <input type="text" name="expiry" class="form-control" placeholder="MM/YY" required>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="cvv">CVV</label>
                                    <input type="text" name="cvv" class="form-control" placeholder="123" required>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ticket1" value="{{ticket1.ref_no}}">
                        {% if ticket2 %}
                            <input type="hidden" name="ticket2" value="{{ticket2.ref_no}}">
                        {% endif %}
                        <div class="payment-btn">
                            <button class="btn btn-danger">Thanh toán</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}