{% extends 'flight/layout.html' %} {% load static %} {% block head %}
<title>Pregnant passengers | FlSight</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/baggage-allowance.css' %}" />
{% endblock head %} {% block body %}
<div class="container2">
    <h1>
        Phụ nữ mang thai
    </h1>
    <p>
        Nhằm mang đến sự thoải mái trong suốt quá trình bay và vì sự an toàn của chính mình, hành khách là phụ nữ mang thai vui lòng thông báo tình trạng mang thai cho nhân viên của Q Airways khi đặt chỗ và mua vé để chúng tôi có thể tư vấn và cung cấp dịch vụ một cách tốt nhất. 
    </p>
    <h2>
        Chuẩn bị trước chuyến bay: 
    </h2>
    <p>
        Việc di chuyển bằng máy bay đa phần là an toàn đối với phụ nữ mang thai khỏe mạnh, không có nguy cơ bệnh lý kèm theo, không làm gia tăng các nguy cơ biến chứng thai kỳ. 
    </p>
    <p>
        Tuy nhiên, việc di chuyển bằng máy bay không được khuyến khích đối với phụ nữ mang thai có nguy cơ về bệnh lý nội khoa hay sản khoa. Do vậy, hành khách mang thai cần có tư vấn của bác sỹ trước khi đi máy bay. 
    </p>
    <ul>
        <li>
            <p>
                Tham khảo ý kiến bác sỹ trước khi khởi hành để đảm bảo an toàn cho cả mẹ và bé cho suốt hành trình di chuyển bằng đường hàng không. 
            </p>
        </li>
        <li>
            <p>
                Tham khảo ý kiến bác sỹ nếu quý khách gặp vấn đề về việc thiếu máu, thai nghén hoặc có những bất thường, đe dọa sảy thai ... trong suốt quá trình mang thai. 
            </p>
        </li>
        <li>
            <p>
                Giảm thiểu sự căng thẳng trong hành trình. 
            </p>
        </li>
    </ul>
    <p>Hành khách là phụ nữ mang thai vui lòng tham khảo các điều kiện chấp nhận dưới đây: </p>
    <div class="table-container">
        <h1>Tuần tuổi thai (T) - Điều kiện chấp nhận vận chuyển</h1>
        <table>
            <thead>
                <tr>
                    <th>Tuổi thai</th>
                    <th>Hành khách mang đơn thai</th>
                    <th>Hành khách mang song thai trở lên</th>
                    <th>Hành khách có thai bằng phương pháp thụ tinh nhân tạo/sức khỏe thai kỳ bất thường</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>T &lt; 28 tuần (≤ 27 tuần 6 ngày)</td>
                    <td>Điều kiện 01</td>
                    <td>Điều kiện 03</td>
                    <td>Điều kiện 03</td>
                </tr>
                <tr>
                    <td>28 ≤ T &lt; 32 tuần (Từ 28 tuần 0 ngày đến 31 tuần 6 ngày)</td>
                    <td>Điều kiện 01</td>
                    <td>Điều kiện 03</td>
                    <td>Điều kiện 03</td>
                </tr>
                <tr>
                    <td>32 ≤ T &lt; 36 tuần (Từ 32 tuần 0 ngày đến 35 tuần 6 ngày)</td>
                    <td>Điều kiện 03</td>
                    <td>Điều kiện 03</td>
                    <td>Điều kiện 03</td>
                </tr>
                <tr>
                    <td>T ≥ 36 tuần</td>
                    <td>Không vận chuyển</td>
                    <td>Không vận chuyển</td>
                    <td>Không vận chuyển</td>
                </tr>
            </tbody>
        </table>
    
        <h2>Điều kiện</h2>
        <h3>Điều kiện 01</h3>
        <p>
            Hành khách được chấp nhận vận chuyển như hành khách thông thường. Tuy nhiên, hành khách cần xuất trình được
            bằng chứng chứng minh thời gian mang thai của thai kỳ hiện tại (ví dụ: sổ khám thai, giấy xác nhận sức khỏe
            thai kỳ, Phiếu siêu âm 5/5 hoặc giấy xác nhận khác do bác sĩ điều trị hoặc cơ sở y tế xác nhận).
        </p>
    
        <h3>Điều kiện 02</h3>
        <p>
            Hành khách vui lòng xuất trình được giấy xác nhận của bác sĩ khám thai định kỳ (Phiếu siêu âm 5/5 hoặc giấy
            xác nhận sức khỏe thai kỳ do bác sĩ hoặc cơ sở y tế xác nhận):
        </p>
        <ul>
            <li>Do bác sĩ điều trị hoặc cơ sở y tế xác nhận.</li>
            <li>Có đầy đủ thông tin như họ tên và tuổi thai.</li>
        </ul>
        <p>
            Khách phải xuất trình được mọi giấy tờ và hồ sơ thích hợp (bình thường hoặc sức khỏe bất thường) và hoàn
            tất thủ tục đúng quy định trước khi bay. Hỗ trợ y tế hoặc phiếu xác nhận phải được chuẩn bị trước.
        </p>
    
        <h3>Điều kiện 03</h3>
        <p>
            Khách phải xuất trình chứng nhận y tế (MEDIF) kèm theo các hồ sơ cần thiết như: giấy xác nhận sức khỏe
            hoặc siêu âm thai không quá 5 ngày trước ngày bay. Phiếu siêu âm 5/5 hoặc giấy xác nhận đủ điều kiện do cơ
            sở y tế cung cấp:
        </p>
        <ul>
            <li>Do bác sĩ điều trị hoặc cơ sở y tế xác nhận.</li>
            <li>Họ tên, tuổi thai của khách hàng.</li>
        </ul>
    
        <h2>Lưu ý</h2>
        <p>
            Hành khách đi trên chặng bay quốc tế vui lòng tham khảo bộ hồ sơ tương đương nhằm đảm bảo xác nhận đủ điều kiện vận chuyển:
            <ul>
                <li>Tuân thủ các quy định pháp lý của từng quốc gia liên quan.</li>
                <li>Hãng hàng không có thể từ chối nếu hành khách không cung cấp đúng hồ sơ yêu cầu.</li>
            </ul>
        </p>
    </div>
</div>


{% endblock body %}