{% extends "flight/layout2.html" %}

{% load static %}

{% block title %}
    Đăng ký | Flight
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="user-box" style="margin-top: 6vh;">
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control inp usrname" type="text" name="username" placeholder="Tên đăng nhập">
                <span class="small text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control inp fname" type="text" name="firstname" placeholder="Tên">
                        <span class="small text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input class="form-control inp lname" type="text" name="lastname" placeholder="Họ">
                        <span class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control inp email" type="email" name="email" placeholder="Email">
                <span class="small text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp pswd" type="password" name="password" placeholder="Mật khẩu">
                <span class="small text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp cpswd" type="password" name="confirmation" placeholder="Xác nhận mật khẩu">
                <span class="small text-danger"></span>
            </div>
            <center>
                <input class="btn btn-danger" type="submit" value="Đăng ký" style="margin-top: 10px; width: 95%;" disabled>
            </center>
        </form>
    
        <div>
            <center>
                Đã có tài khoản?&nbsp;&nbsp;<a href="{% url 'login' %}">Đăng nhập</a>
            </center>
        </div>
    </div>
{% endblock %}
