{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Tìm kiếm | Flight</title>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flight-search">
                        <div class="search-summary">
                            <div class="route">
                                <div>{{origin.city}} ({{origin.code}})</div>
                                <div><i class="fas fa-plane"></i></div>
                                <div>{{destination.city}} ({{destination.code}})</div>
                            </div>
                            <div class="details">
                                <div>{{date}}</div>
                                <div>{{passengers}} Hành khách</div>
                                <div>{{seat_class}}</div>
                            </div>
                        </div>
                        <div class="modify-search">
                            <a href="{% url 'index' %}" class="btn btn-danger">Thay đổi tìm kiếm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if flights %}
        <section class="section section2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="filter-div">
                            <div class="filter-header">
                                <h4>Bộ lọc</h4>
                                <div class="clr-filter-div">
                                    <button class="btn btn-secondary">Xóa bộ lọc</button>
                                </div>
                            </div>
                            <div class="filter-price">
                                <label>Giá</label>
                                <input type="range" min="{{min_price}}" max="{{max_price}}" value="{{max_price}}">
                                <div class="price-details">
                                    <div>₫{{min_price}}</div>
                                    <div class="max-price">₫{{max_price}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="flights-div">
                            {% for flight in flights %}
                                <div class="flight-div" data-price="{{flight.fare}}">
                                    <div class="flight-div-top">
                                        <div class="airline">{{flight.airline}}</div>
                                        <div class="flight-price">₫{{flight.fare}}</div>
                                    </div>
                                    <div class="flight-div-middle">
                                        <div class="departure">
                                            <div>{{flight.origin.code}}</div>
                                            <div>{{flight.depart_time}}</div>
                                        </div>
                                        <div class="duration">
                                            <div class="duration-time" data-value="{{flight.duration}}"></div>
                                            <div class="line"></div>
                                            <div>Bay thẳng</div>
                                        </div>
                                        <div class="arrival">
                                            <div>{{flight.destination.code}}</div>
                                            <div>{{flight.arrival_time}}</div>
                                        </div>
                                    </div>
                                    <div class="flight-div-bottom">
                                        <form action="{% url 'review' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="flight" value="{{flight.id}}">
                                            <input type="hidden" name="seat" value="{{seat}}">
                                            <button type="submit" class="btn btn-danger">Chọn</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="section section2">
            <div class="container">
                <div class="no-flights">
                    <img src="{% static 'img/no-results.png' %}" alt="">
                    <div>Không tìm thấy chuyến bay nào</div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
