{% extends 'flight/layout.html' %} {% load static %} {% block head %}
<title>Pregnant passengers | FlSight</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/baggage-allowance.css' %}" />
{% endblock head %} {% block body %}
<div class="container2">
    <h1>
        Suất ăn đặc biệt
    </h1>
    <p>
        Q Airways cung cấp suất ăn đặc biệt cho hành khách trên các chuyến bay quốc tế, quốc nội có phục vụ suất ăn. Đối với các chuyến bay xuất phát từ sân bay quốc tế Nội Bài, Bamboo Airways cung cấp 20 loại suất ăn đặc biệt. Các chuyến bay xuất phát từ sân bay quốc tế Tân Sơn Nhất hiện đang cung cấp 6 loại và dần hoàn thiện hơn trong tương lai gần. 
    </p>
    <p>
        Suất ăn đặc biệt được xây dựng theo hướng dẫn của IATA, đáp ứng đa dạng nhu cầu của hành khách mong muốn sử dụng bữa ăn theo tôn giáo, tình trạng sức khỏe và sở thích cá nhân. Các suất ăn này có đầy đủ các thành phần cho phép để đảm bảo định lượng như các suất ăn thường lệ.
    </p>
    <p>
        <strong>Suất ăn đặc biệt được cung cấp ít nhất 24h trước giờ khởi hành</strong>
        , riêng đối với suất ăn Do Thái (KSML), hành khách cần đặt trước 48h trước chuyến bay.
    </p>
</div>
{% endblock body %}