{% extends 'flight/layout.html' %} {% load static %} {% block head %}
<title>Dịch vụ đặc biệt cho trẻ em</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/baggage.css' %}" />
{% endblock head %} {% block body %}
<div class="container2">
  <h1>Dịch vụ cho trẻ em</h1>
  <div class="image-container">
    <img src="{% static 'img/Baby.png' %}" alt="trẻ em" />
  </div>
  <h2>1. Trẻ em (Child - "CHD")</h2>
  <p>
    Trẻ em là hành khách từ 02 đến dưới 12 tuổi (chưa đến ngày sinh nhật lần thứ 12) tính đến ngày khởi hành của chặng bay đầu tiên trong hành trình và phục vụ theo tiêu chuẩn trẻ em từ 2 tuổi trở lên đến dưới 12 tuổi. Yêu cầu: toàn bộ hành trình phải xuất trên cùng một vé và thời gian kể từ ngày khởi hành chặng đầu tiên đến chặng cuối cùng của hành trình không quá 1 năm. 
  </p>
  <h2>2. Trẻ sơ sinh (Infant – "INF")</h2>
  <h3>2.1 Cách tính tuổi Trẻ sơ sinh</h3>
  <p>
    - Hành trình chỉ bao gồm các chặng bay trên Q Airways: Trẻ sơ sinh là hành khách dưới 02 tuổi (chưa đến ngày sinh nhật lần thứ 2) tính đến ngày khởi hành của chặng bay đầu tiên trên vé hành khách và sẽ được phục vụ theo tiêu chuẩn dịch vụ trẻ sơ sinh dưới 2 tuổi cho toàn bộ hành trình. Yêu cầu: toàn bộ hành trình phải xuất trên cùng một vé và thời gian kể từ ngày khởi hành chặng đầu tiên đến chặng cuối cùng của hành trình không quá 1 năm. 
  </p>
  <p>
    - Hành trình bao gồm các chặng bay trên Q Airways và các hãng hàng không khác: trẻ sơ sinh là hành khách dưới 2 tuổi (chưa đến ngày sinh nhật lần thứ 2) tính đến ngày khởi hành của từng chặng bay trên vé hành khách và được phục vụ theo tiêu chuẩn dịch vụ trẻ sơ sinh dưới 2 tuổi cho từng chặng bay đó.
  </p>
  <h3>2.2 Điều kiện chấp nhận vận chuyển trẻ sơ sinh</h3>
  <p>
    - Chấp nhận hành khách bình thường với điều kiện tình trạng sức khỏe bình thường, sinh đủ tháng. Nếu sức khỏe trẻ không bình thường hoặc sinh thiếu tháng thì cần phải xác nhận sức khỏe trước chuyến bay 
  </p>
  <p>
    - Q Airways chỉ chấp nhận trẻ sơ sinh từ 14 ngày tuổi trở lên. Q Airways từ chối vận chuyển trẻ sơ sinh dưới 14 ngày tuổi trừ trường hợp vì vấn đề nhân đạo, y tế…, Q Airways có thể xem xét vận chuyển INF dưới 14 ngày tuổi khi có văn bản của bác sỹ xác nhận khả năng khởi hành của trẻ và giấy thỏa thuận trách nhiệm do cha mẹ trẻ hoặc người bảo hộ hợp pháp của trẻ ký. 
  </p>
  <p>
    - Hành khách là trẻ sơ sinh chỉ được chấp nhận khi có người đi kèm. Q Airways không chấp nhận trẻ sơ sinh đi một mình
  </p>
  <p>
    - Hành khách trẻ sơ sinh không ngồi ghế riêng mà phải ngồi trong lòng người đi kèm. 
  </p>
  <p>
    - Trường hợp khách đi cùng trẻ sơ sinh có nhu cầu mua thêm ghế cho  INF: Theo nguyên tắc, trẻ sơ sinh không ngồi ghế riêng mà phải ngồi trong lòng người lớn đi cùng, do đó khách không thể mua riêng ghế cho trẻ sơ sinh. Tuy nhiên trường hợp khách cần sự thuận tiện, khách có thể mua thêm ghế cho bản thân. 
  </p>
  <h2>3. Điều kiện áp dụng cho người đi cùng trẻ em (trẻ sơ sinh – INF và trẻ em – CHD)</h2>
  <h3>3.1 Yêu cầu chung với người đi cùng trẻ em (INF và CHD)</h3>
  <p>
    - Có khả năng chăm sóc trẻ em trong suốt chuyến bay; 
  </p>
  <p>
    Không đồng thời là người đi cùng với hành khách khuyết tật. 
  </p>
  <p>
    - Mỗi người lớn chỉ được đi cùng 01 INF. BAV không chấp nhận 1 người lớn đi cùng 2 INF. Trong trường hợp một người lớn đi cùng nhiều hơn 01 INF trở lên, từ INF thứ hai khách phải đặt và trả phí cho dịch vụ Tiếp viên đi kèm. 
  </p>
  <p>
  -  Nếu người đi cùng INF là hành khách đang mang thai (PREG) thì: 
  </p>
  <ul>
    <li>
      <p>
        Khách PREG chỉ đi cùng với tối đa 01 INF và/hoặc không giới hạn số lượng trẻ em từ 06 tuổi trở lên; và 
      </p>
    </li>
    <li>
      <p>
        PREG phải dưới 28 tuần và không phải là đối tượng hành khách cần xác nhận sức khỏe trước chuyến bay. 
      </p>
    </li>
  </ul>
  <p>
    - Nếu người đi cùng CHD là hành khách đang mang thai (PREG) thì: 
  </p>
  <ul>
    <li>
      <p>
        Khách PREG chỉ đi cùng với tối đa 01 INF hoặc 01 CHD dưới 6 tuổi và/hoặc không giới hạn số lượng trẻ em từ 06 tuổi trở lên; và 
      </p>
    </li>
    <li>
      <p>
        PREG phải dưới 32 tuần và không phải là đối tượng hành khách cần xác nhận sức khỏe trước chuyến bay. 
      </p>
    </li>
  </ul>
  <p>
    - Khách PREG chỉ đi cùng với tối đa 01 INF hoặc 01 CHD dưới 6 tuổi và/hoặc không giới hạn số lượng trẻ em từ 06 tuổi trở lên. Trường hợp khách PREG đi cùng với cả INF và CHD dưới 6 tuổi: hành khách phải đặt và trả phí cho dịch vụ Tiếp viên đi kèm cho số lượng trẻ em là INF hoặc CHD dưới 6 tuổi vượt quá tiêu chuẩn trên. 
  </p>
  <h3>3.2 Yêu cầu với người đi cùng INF </h3>
  <p>
    - Mỗi người lớn chỉ được đi cùng 01 trẻ sơ sinh. Q Airways không chấp nhận 1 người lớn đi cùng 2 trẻ sơ sinh. Trong trường hợp một người lớn đi cùng nhiều hơn 01 trẻ sơ sinh trở lên, từ trẻ sơ sinh thứ hai khách phải đặt và trả phí cho dịch vụ Tiếp viên đi kèm. 
  </p>
  <p>
    - Điều kiện đối với người đi kèm: 
  </p>
  <ul>
    <li>
      <p>
        Từ 18 tuổi trở lên (tính đến ngày khởi hành của chuyến bay) 
      </p>
    </li>
    <li>
      <p>
       Đáp ứng các yêu cầu chung của người đi kèm được đề cập ở trên.
      </p>
    </li>
    <li>
      <p>
        Người đi kèm không phải là hành khách có tình trạng đặc biệt. 
      </p>
    </li>
    <li>
      <p>
        Nếu người đi cùng trẻ sơ sinh là Phụ nữ mang thai:  
      </p>
    </li>
    <li>
      <p>
        Khách là Phụ nữ mang thai chỉ đi cùng với tối đa 01 trẻ sơ sinh và/hoặc không giới hạn số lượng trẻ em từ 06 tuổi trở lên; và 
      </p>
    </li>
    <li>
      <p>
        Tuổi thai của khách phải dưới 28 tuần và không phải là đối tượng hành khách cần xác nhận sức khỏe trước chuyến bay. 
      </p>
    </li>
  </ul>
  <h3>3.3 Yêu cầu với người đi cùng CHD </h3>
  <p>
  - Đáp ứng các yêu cầu chung của người đi kèm được đề cập ở trên 
  </p>
  <p>
    - Người đi kèm không phải là hành khách có tình trạng đặc biệt.
  </p>
  <p>
    - Chỉ chấp nhận khách là Phụ nữ mang thai đi cùng CHD trong trường hợp: 
  </p>
  <ul>
    <li>
      <p>
        Khách PREG chỉ đi cùng với tối đa 01 INF hoặc 01 CHD dưới 6 tuổi và/hoặc không giới hạn số lượng trẻ em từ 06 tuổi trở lên; và 
      </p>
    </li>
    <li>
      <p>
        Tuổi thai của khách phải dưới 32 tuần và không phải là đối tượng hành khách cần xác nhận sức khỏe trước chuyến bay. 
      </p>
    </li>
  </ul>
  <h3>3.4 Người đi cùng trẻ em dưới 14 tuổi </h3>
  <p>
    - Đối với các chuyến bay trong nội địa Việt Nam: người đi cùng trẻ em không bắt buộc là cha/mẹ/người giám hộ và cũng không yêu cầu phải có giấy ủy quyền của cha/mẹ/người giám hộ. 
  </p>
  <p>
    - Đối với các chuyến bay quốc tế:  
  </p>
  <ul>
    <li>
      <p>
        Đối với trẻ quốc tịch Việt Nam 
      </p>
    </li>
    <li>
      <p>
        Trên chuyến bay quốc tế về Việt Nam, người đi cùng có đầy đủ giấy tờ tùy thân, không bắt buộc là cha/mẹ/người giám hộ/người được ủy quyền;  
      </p>
    </li>
    <li>
      <p>
        Trên chuyến bay từ Việt Nam đi quốc tế, người đi cùng phải là cha/mẹ/người giám hộ/người được ủy quyền. 
      </p>
    </li>
    <li>
      <p>
        Đối với trẻ quốc tịch nước ngoài hoặc không có quốc tịch 
      </p>
    </li>
    <li>
      <p>
        Trên chuyến bay quốc tế về Việt Nam, người đi cùng phải là cha/mẹ/người giám hộ/người được ủy quyền. 
      </p>
    </li>
    <li>
      <p>
        Trên chuyến bay từ Việt Nam đi quốc tế, người đi cùng không bắt buộc là cha/mẹ/người giám hộ/người được ủy quyền trừ trường hợp quốc gia nơi đến có quy định khác. 
      </p>
    </li>
  </ul>
</div>
{% endblock body %}

