.banner-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/maldives.jpg');
    background-size: cover;
    background-position: center;
}

.form_label {
    min-width: 90px;
    color: #333;
    font-weight: 500;
}

/* Thêm style cho select box */
select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1em;
}

.promotions {
    max-width: 800px;
    /* Độ rộng tối đa */
    margin: 20px auto;
    /* Căn giữa khối */
    text-align: center;
}

.promotions h2 {
    font-size: 24px;
    color: white;
    /* Màu tiêu đề */
    margin-bottom: 20px;
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    max-width: 800px;
    /* Độ rộng tối đa */
    margin: auto;
}

.swiper {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Nền trắng */
    border-radius: 15px;
    /* Bo góc mềm mại */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Hiệu ứng đổ bóng */
    text-align: center;
}

.swiper-slide h3 {
    font-size: 18px;
    color: #FCAF1E;
    /* Màu xanh tiêu đề khuyến mãi */
    margin-bottom: 10px;
    font-weight: bold;
}

.swiper-slide p {
    font-size: 14px;
    color: #FCAF1E;
    /* Màu xám cho nội dung */
}

.swiper-pagination-bullet {
    background-color: #00063F !important;
}